In [50]:
from pyspark.sql import SparkSession
import pandas as pd

# Initialize a Spark session
spark = SparkSession.builder.appName("AirbnbPriceFilling").getOrCreate()

# Cargar dataset de Madrid
# Load your datasets into Spark DataFrames
orig_mad = spark.read.csv('datasets/datasets_originales/listings-detailed-mad-original.csv', header=True, inferSchema=True, multiLine=True, sep=',', quote='"', escape='\\')
df_mad = spark.read.csv('datasets/listings_prepared_mad.csv', header=True, inferSchema=True)

In [51]:
df_mad.show(5)

+-------------------+--------------------+--------------------+---------+---------------+------------------------------+-----------------+-------+----------------------------+-----------------+-------------------+------------+--------+-------+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
|                 id|         listing_url|                name|  host_id|      host_name|calculated_host_listings_count|host_is_superhost|license|neighbourhood_group_cleansed|         latitude|          longitude|   room_type|bedrooms|  price|kitchen|patio or balcony|elevator|air conditioning|long_term|short_term|possible_long_term|number_of_reviews|review_scores_rating|
+-------------------+--------------------+--------------------+---------+---------------+------------------------------+-----------------+-------+----------------------------+-----------------+-------------------+------------+--------+-------+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
|1104967621421098322|https://www.airbn...|Habitación de luj...|565307927|       Carolina|                             1|                f|   NULL|                      Retiro|       40.4069796|         -3.6750154|Private room|     1.0| $68.00|      0|               0|       0|               0|        0|         1|                 0|                2|                 4.5|
| 930941073152690361|https://www.airbn...|habitación para p...|442944608| Jonathan Jesus|                             2|                f|   NULL|          Puente de Vallecas|          40.3921|           -3.67003|Private room|     1.0| $16.00|      0|               0|       0|               0|        0|         0|                 1|                3|                 5.0|
|           51647382|https://www.airbn...|Buenos Aires en M...|252336445|          Norma|                             2|                f|   NULL|          Puente de Vallecas|         40.39511|           -3.67143|Private room|     2.0| $25.00|      1|               0|       0|               0|        0|         0|                 1|              186|                4.67|
|1026072412626070839|https://www.airbn...|Habitación Madrid...|545435841|     Gean Piero|                             1|                f|   NULL|                 Carabanchel|40.39555483922258|-3.7164371179819233|Private room|     1.0| $26.00|      1|               0|       0|               0|        0|         0|                 1|                1|                 5.0|
| 766423030884644417|https://www.airbn...|habitación para t...|  3882456|Gabriela CHÁVEZ|                             1|                f|   NULL|                   Salamanca|         40.43045|            -3.6721|Private room|     1.0|$100.00|      1|               0|       0|               1|        0|         1|                 0|                0|                NULL|
+-------------------+--------------------+--------------------+---------+---------------+------------------------------+-----------------+-------+----------------------------+-----------------+-------------------+------------+--------+-------+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
only showing top 5 rows

In [52]:
orig_mad.printSchema()
from pyspark.sql.functions import col, regexp_extract

# Use a regular expression to filter out non-numeric 'id' values
# Regular expression to match only numeric strings
df_numeric_ids = orig_mad.filter(regexp_extract(col("id"), r'^\d+$', 0) != '')

# Show the result to verify the changes
df_numeric_ids.show(5)

# Optionally, save the cleaned DataFrame to a new CSV file
df_numeric_ids.write.csv("temp_ids_mad.csv", header=True)

root
 |-- id: string (nullable = true)
 |-- listing_url: string (nullable = true)
 |-- scrape_id: string (nullable = true)
 |-- last_scraped: string (nullable = true)
 |-- source: string (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- neighborhood_overview: string (nullable = true)
 |-- picture_url: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_url: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- host_since: string (nullable = true)
 |-- host_location: string (nullable = true)
 |-- host_about: string (nullable = true)
 |-- host_response_time: string (nullable = true)
 |-- host_response_rate: string (nullable = true)
 |-- host_acceptance_rate: string (nullable = true)
 |-- host_is_superhost: string (nullable = true)
 |-- host_thumbnail_url: string (nullable = true)
 |-- host_picture_url: string (nullable = true)
 |-- host_neighbourhood: string (nullable = true)
 |-- host_listings_count: string (nullable = true)
 |-- host_total_listings_count: string (nullable = true)
 |-- host_verifications: string (nullable = true)
 |-- host_has_profile_pic: string (nullable = true)
 |-- host_identity_verified: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- neighbourhood_cleansed: string (nullable = true)
 |-- neighbourhood_group_cleansed: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: string (nullable = true)
 |-- bathrooms: string (nullable = true)
 |-- bathrooms_text: string (nullable = true)
 |-- bedrooms: string (nullable = true)
 |-- beds: string (nullable = true)
 |-- amenities: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: string (nullable = true)
 |-- maximum_nights: string (nullable = true)
 |-- minimum_minimum_nights: string (nullable = true)
 |-- maximum_minimum_nights: string (nullable = true)
 |-- minimum_maximum_nights: string (nullable = true)
 |-- maximum_maximum_nights: string (nullable = true)
 |-- minimum_nights_avg_ntm: string (nullable = true)
 |-- maximum_nights_avg_ntm: string (nullable = true)
 |-- calendar_updated: string (nullable = true)
 |-- has_availability: string (nullable = true)
 |-- availability_30: string (nullable = true)
 |-- availability_60: string (nullable = true)
 |-- availability_90: string (nullable = true)
 |-- availability_365: string (nullable = true)
 |-- calendar_last_scraped: string (nullable = true)
 |-- number_of_reviews: string (nullable = true)
 |-- number_of_reviews_ltm: string (nullable = true)
 |-- number_of_reviews_l30d: string (nullable = true)
 |-- first_review: string (nullable = true)
 |-- last_review: string (nullable = true)
 |-- review_scores_rating: string (nullable = true)
 |-- review_scores_accuracy: string (nullable = true)
 |-- review_scores_cleanliness: string (nullable = true)
 |-- review_scores_checkin: string (nullable = true)
 |-- review_scores_communication: string (nullable = true)
 |-- review_scores_location: string (nullable = true)
 |-- review_scores_value: string (nullable = true)
 |-- license: string (nullable = true)
 |-- instant_bookable: string (nullable = true)
 |-- calculated_host_listings_count: string (nullable = true)
 |-- calculated_host_listings_count_entire_homes: string (nullable = true)
 |-- calculated_host_listings_count_private_rooms: string (nullable = true)
 |-- calculated_host_listings_count_shared_rooms: string (nullable = true)
 |-- reviews_per_month: string (nullable = true)

+-------------------+--------------------+--------------+------------+-----------+--------------------+--------------------+---------------------+--------------------+---------+--------------------+---------------+----------+-------------+--------------------+------------------+------------------+--------------------+-----------------+--------------------+--------------------+------------------+-------------------+-------------------------+--------------------+--------------------+----------------------+--------------------+----------------------+----------------------------+-----------------+-------------------+--------------------+------------+------------+---------+--------------+--------+----+--------------------+--------------------+--------------------+--------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------+----------------+---------------+---------------+---------------+----------------+---------------------+-----------------+---------------------+----------------------+------------+-----------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+-------+----------------+------------------------------+-------------------------------------------+--------------------------------------------+-------------------------------------------+-----------------+
|                 id|         listing_url|     scrape_id|last_scraped|     source|                name|         description|neighborhood_overview|         picture_url|  host_id|            host_url|      host_name|host_since|host_location|          host_about|host_response_time|host_response_rate|host_acceptance_rate|host_is_superhost|  host_thumbnail_url|    host_picture_url|host_neighbourhood|host_listings_count|host_total_listings_count|  host_verifications|host_has_profile_pic|host_identity_verified|       neighbourhood|neighbourhood_cleansed|neighbourhood_group_cleansed|         latitude|          longitude|       property_type|   room_type|accommodates|bathrooms|bathrooms_text|bedrooms|beds|           amenities|               price|      minimum_nights|      maximum_nights|minimum_minimum_nights|maximum_minimum_nights|minimum_maximum_nights|maximum_maximum_nights|minimum_nights_avg_ntm|maximum_nights_avg_ntm|calendar_updated|has_availability|availability_30|availability_60|availability_90|availability_365|calendar_last_scraped|number_of_reviews|number_of_reviews_ltm|number_of_reviews_l30d|first_review|last_review|review_scores_rating|review_scores_accuracy|review_scores_cleanliness|review_scores_checkin|review_scores_communication|review_scores_location|review_scores_value|license|instant_bookable|calculated_host_listings_count|calculated_host_listings_count_entire_homes|calculated_host_listings_count_private_rooms|calculated_host_listings_count_shared_rooms|reviews_per_month|
+-------------------+--------------------+--------------+------------+-----------+--------------------+--------------------+---------------------+--------------------+---------+--------------------+---------------+----------+-------------+--------------------+------------------+------------------+--------------------+-----------------+--------------------+--------------------+------------------+-------------------+-------------------------+--------------------+--------------------+----------------------+--------------------+----------------------+----------------------------+-----------------+-------------------+--------------------+------------+------------+---------+--------------+--------+----+--------------------+--------------------+--------------------+--------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------+----------------+---------------+---------------+---------------+----------------+---------------------+-----------------+---------------------+----------------------+------------+-----------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+-------+----------------+------------------------------+-------------------------------------------+--------------------------------------------+-------------------------------------------+-----------------+
|1104967621421098322|https://www.airbn...|20240615011404|  2024-06-15|city scrape|Habitación de luj...|                NULL|                 NULL|https://a0.muscac...|565307927|https://www.airbn...|       Carolina|2024-03-04|Madrid, Spain|Hola; mi nombre e...|    within an hour|              100%|                100%|                f|https://a0.muscac...|https://a0.muscac...|              NULL|                  1|                        1|  ['email', 'phone']|                   t|                     t|                NULL|              Pacífico|                      Retiro|       40.4069796|         -3.6750154|Private room in r...|Private room|           2|      1.0|        1 bath|       1|   0|                  []|              $68.00|                   1|                  30|                     1|                     1|                    30|                    30|                   1.0|                  30.0|            NULL|               t|              2|              2|              2|               2|           2024-06-15|                2|                    2|                     0|  2024-03-10| 2024-05-08|                 4.5|                   5.0|                      5.0|                  5.0|                        5.0|                   5.0|                5.0|   NULL|               f|                             1|                                          0|                                           1|                                          0|             0.61|
| 930941073152690361|https://www.airbn...|20240615011404|  2024-06-15|city scrape|habitación para p...|Rent room for loo...|                 NULL|https://a0.muscac...|442944608|https://www.airbn...| Jonathan Jesus|2022-01-31|Madrid, Spain|somos una pareja ...|a few days or more|                0%|                 57%|                f|https://a0.muscac...|https://a0.muscac...|              NULL|                  2|                        4|           ['phone']|                   t|                     t|                NULL|             San Diego|          Puente de Vallecas|          40.3921|           -3.67003|Private room in r...|Private room|           2|      1.0|        1 bath|       1|   1|        "[""Wifi""]"|              $16.00|                   1|                 365|                     1|                     1|                   365|                   365|                   1.0|                 365.0|            NULL|               t|              0|              8|             18|             185|           2024-06-15|                3|                    3|                     0|  2023-07-29| 2023-10-04|                 5.0|                   5.0|                      5.0|                  5.0|                        5.0|                  4.67|                5.0|   NULL|               f|                             2|                                          0|                                           2|                                          0|             0.28|
|           51647382|https://www.airbn...|20240615011404|  2024-06-15|city scrape|Buenos Aires en M...|This special plac...| The neighborhood ...|https://a0.muscac...|252336445|https://www.airbn...|          Norma|2019-03-31|Madrid, Spain|         Aire Fresco|    within an hour|              100%|                100%|                f|https://a0.muscac...|https://a0.muscac...|              NULL|                  2|                        2|  ['email', 'phone']|                   t|                     t|Madrid, Comunidad...|             San Diego|          Puente de Vallecas|         40.39511|           -3.67143|Private room in home|Private room|           1|      1.0| 1 shared bath|       2|   3|"[""Outdoor dinin...|              ""TV""| ""Free parking o...| ""Fire extinguis...|           ""Kitchen""|              ""Wifi""|   ""Dedicated work...|   ""First aid kit""]"|                $25.00|                     1|            1125|               1|              1|           1125|           1125|             1.0|               1125.0|             NULL|                    t|                    21|          51|         81|                 356|            2024-06-15|                      186|                   65|                          7|            2021-08-17|         2024-05-29|   4.67|            4.71|                          4.59|                                        4.8|                                        4.83|                                       4.51|             4.61|
|1026072412626070839|https://www.airbn...|20240615011404|  2024-06-15|city scrape|Habitación Madrid...|Enjoy the simplic...|                 NULL|https://a0.muscac...|545435841|https://www.airbn...|     Gean Piero|2023-11-07|         NULL|                NULL|               N/A|               N/A|                 33%|                f|https://a0.muscac...|https://a0.muscac...|              NULL|                  1|                        1|  ['email', 'phone']|                   t|                     t|                NULL|                Opañel|                 Carabanchel|40.39555483922258|-3.7164371179819233|Private room in r...|Private room|           3|      1.0| 1 shared bath|       1|   2|"[""Lock on bedro...|            ""Wifi""|       ""Kitchen""]"|              $26.00|                     2|                   365|                     2|                     2|                   365|                   365|             2.0|           365.0|           NULL|              t|              0|               0|                   12|               12|           2024-06-15|                     1|           1|          0|          2023-11-20|            2023-11-20|                      5.0|                  5.0|                        5.0|                   5.0|                5.0|    5.0|             5.0|                          NULL|                                          f|                                           1|                                          0|                1|
| 766423030884644417|https://www.airbn...|20240615011404|  2024-06-15|city scrape|habitación para t...|Enjoy a stylish e...|                 NULL|https://a0.muscac...|  3882456|https://www.airbn...|Gabriela CHÁVEZ|2012-10-15|Madrid, Spain|Viajera incansabl...|               N/A|               N/A|                 N/A|                f|https://a0.muscac...|https://a0.muscac...|              NULL|                  2|                        4|['email', 'phone'...|                   t|                     t|                NULL|                 Lista|                   Salamanca|         40.43045|            -3.6721|Private room in r...|Private room|           1|      1.0| 1 shared bath|       1|   1|        "[""Washer""| ""Lock on bedroo...| ""Air conditioni...|         ""Kitchen""|              ""Wifi""|   ""Dedicated work...|   ""Exterior secur...|               $100.00|                     7|                    10|               7|               7|             10|             10|            7.0|            10.0|                 NULL|                t|                   29|                    59|          89|        364|          2024-06-15|                     0|                        0|                    0|                       NULL|                  NULL|               NULL|   NULL|            NULL|                          NULL|                                       NULL|                                        NULL|                                       NULL|             NULL|
+-------------------+--------------------+--------------+------------+-----------+--------------------+--------------------+---------------------+--------------------+---------+--------------------+---------------+----------+-------------+--------------------+------------------+------------------+--------------------+-----------------+--------------------+--------------------+------------------+-------------------+-------------------------+--------------------+--------------------+----------------------+--------------------+----------------------+----------------------------+-----------------+-------------------+--------------------+------------+------------+---------+--------------+--------+----+--------------------+--------------------+--------------------+--------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------+----------------+---------------+---------------+---------------+----------------+---------------------+-----------------+---------------------+----------------------+------------+-----------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+-------+----------------+------------------------------+-------------------------------------------+--------------------------------------------+-------------------------------------------+-----------------+
only showing top 5 rows

AnalysisException: [PATH_ALREADY_EXISTS] Path file:/Users/kurtiswalton/Ironhack/final-project/temp_ids_mad.csv already exists. Set mode as "overwrite" to overwrite the existing path.

In [53]:
df_numeric_ids.count()

26924

In [54]:
# Display the schema of the DataFrame
df_mad.printSchema()

# Get the number of rows and columns
print(f"Number of rows: {df_mad.count()}, Number of columns: {len(df_mad.columns)}")

root
 |-- id: long (nullable = true)
 |-- listing_url: string (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- calculated_host_listings_count: string (nullable = true)
 |-- host_is_superhost: string (nullable = true)
 |-- license: string (nullable = true)
 |-- neighbourhood_group_cleansed: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- bedrooms: string (nullable = true)
 |-- price: string (nullable = true)
 |-- kitchen: string (nullable = true)
 |-- patio or balcony: string (nullable = true)
 |-- elevator: integer (nullable = true)
 |-- air conditioning: integer (nullable = true)
 |-- long_term: integer (nullable = true)
 |-- short_term: integer (nullable = true)
 |-- possible_long_term: integer (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- review_scores_rating: double (nullable = true)

Number of rows: 26924, Number of columns: 23

In [55]:
# Remove the dollar sign and commas, and convert the column to a numerical format:
from pyspark.sql.functions import regexp_replace, col

df_mad = df_mad.withColumn("price", regexp_replace(col("price"), "[\$,]", "").cast("float"))

In [56]:
#  Identify Missing Values
from pyspark.sql.functions import col, sum as _sum

# Count missing values for each column
df_mad.select([_sum(col(c).isNull().cast("int")).alias(c) for c in df_mad.columns]).show()

+---+-----------+----+-------+---------+------------------------------+-----------------+-------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
| id|listing_url|name|host_id|host_name|calculated_host_listings_count|host_is_superhost|license|neighbourhood_group_cleansed|latitude|longitude|room_type|bedrooms|price|kitchen|patio or balcony|elevator|air conditioning|long_term|short_term|possible_long_term|number_of_reviews|review_scores_rating|
+---+-----------+----+-------+---------+------------------------------+-----------------+-------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
|  0|          0|   0|      0|        4|                             0|              155|  24174|                           7|       1|        0|        0|    2211| 5305|      1|               0|       0|               0|        0|         0|                 0|                0|                5856|
+---+-----------+----+-------+---------+------------------------------+-----------------+-------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+

In [57]:
### Trying to make the above more readable

from pyspark.sql.functions import col, sum as _sum

# Count missing values for each column
missing_counts = df_mad.select([
    _sum(col(c).isNull().cast("int")).alias(c) for c in df_mad.columns
])

# Transform the result into a more readable format
missing_counts = missing_counts.collect()[0].asDict()

# Convert the dictionary to a DataFrame
missing_df = spark.createDataFrame(
    [(k, v) for k, v in missing_counts.items()],
    ["Column", "MissingValues"]
)

# Optionally, filter out columns with no missing values and sort by missing value count
missing_df = missing_df.filter(col("MissingValues") > 0).orderBy(col("MissingValues").desc())

# Show the result
missing_df.show(truncate=False)

# The dataset has several columns with missing values:

# license shows 24174 missing values. We can drop this column
# review_scores_rating is missing 5856 times. We can replace these missing values with 0
# price: Missing in 5305 entries. Drop or fill in depending on the cases.
# bedrooms missing in 2211 cases.  > check for more than one bedroom > mark 1, if less than 1 > mark 0
# host_is_superhost missing 155 times. Fill in with 'f'
# neighbourhood_group_cleansed: 7 missing > manual review
# host_name missing 4 times. Fill with 'no disponible'
# latitude missing 1 time > manual review > I have checked the row (id 16270115) and the latitude value is not missing
# kitchen missing 1 time > manual review

+----------------------------+-------------+
|Column                      |MissingValues|
+----------------------------+-------------+
|license                     |24174        |
|review_scores_rating        |5856         |
|price                       |5305         |
|bedrooms                    |2211         |
|host_is_superhost           |155          |
|neighbourhood_group_cleansed|7            |
|host_name                   |4            |
|latitude                    |1            |
|kitchen                     |1            |
+----------------------------+-------------+

In [58]:
# Drop the license Column
df_mad = df_mad.drop("license")

In [59]:
# Fill review_scores_rating with 0

df_mad =df_mad.na.fill({"review_scores_rating": 0})

In [60]:
# Fill host_name with 'No Disponible'
df_mad = df_mad.na.fill({"host_name": "No Disponible"})

In [61]:
# Fill host_is_superhost with 'f'
df_mad = df_mad.na.fill({"host_is_superhost": "f"})

In [62]:
# Check by the URL link to fill in the neighbourhood for missing value

# Filter the DataFrame to find the rows with the missing value in 'neighbourhood_group_cleansed'
missing_neighbourhood = df_mad.filter(col("neighbourhood_group_cleansed").isNull())

# Show the row(s) with the missing value
missing_neighbourhood.show()

# It can clearly be seen below that there are values present in neighbourhood_group_cleansed for each of these listings. 
# Unclear why they show as missing values in python.
# I will drop these rows to avoid further complications.

+------------------+--------------------+--------------------+--------------------+---------+------------------------------+-----------------+----------------------------+---------+-----------------+------------------+---------------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
|                id|         listing_url|                name|             host_id|host_name|calculated_host_listings_count|host_is_superhost|neighbourhood_group_cleansed| latitude|        longitude|         room_type|       bedrooms|price|kitchen|patio or balcony|elevator|air conditioning|long_term|short_term|possible_long_term|number_of_reviews|review_scores_rating|
+------------------+--------------------+--------------------+--------------------+---------+------------------------------+-----------------+----------------------------+---------+-----------------+------------------+---------------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
|671019465759187817|https://www.airbn...|"LUXURY ROOM ""GR...| EN MADRID  PARKI...|459598058|                      Liubasha|                4|                        NULL|    Usera|         40.36759|          -3.70564|   Private room|  1.0| $22.00|               1|       0|               0|        1|         1|                 0|                1|                 3.0|
|673775001948663555|https://www.airbn...|"LUXURY ROOM ""SI...|IN MADRID PARKING...|459598058|                      Liubasha|                4|                        NULL|    Usera|         40.36958|          -3.70639|   Private room|  1.0| $22.00|               1|       0|               0|        1|         1|                 0|                1|                 2.0|
|673871509307459474|https://www.airbn...|"LUXURY ROOM ""BL...| IN MADRID PARKIN...|459598058|                      Liubasha|                4|                        NULL|    Usera|         40.36747|          -3.70464|   Private room|  1.0| $22.00|               1|       0|               0|        1|         1|                 0|                1|                 2.0|
|          31672518|https://www.airbn...|"""Suite Lujan"" ...|               Pool"|  6673480|                      Yolvania|                5|                        NULL|Chamartín|         40.45844|          -3.68172|Entire home/apt|  1.0| $60.00|               1|       0|               1|        1|         1|                 0|                1|                20.0|
|          12187235|https://www.airbn...|"""The little hou...| cozy apartment i...| 33049567|                     José Luis|                7|                        NULL|   Centro|         40.40909|          -3.71029|Entire home/apt|  1.0| $96.00|               1|       0|               0|        0|         0|                 0|                1|                72.0|
|          48075156|https://www.airbn...|"""Amplio estudio...| céntrico y muy l...|144246035|                          Rosa|               14|                        NULL| Chamberí|40.42866134643555|-3.694408893585205|Entire home/apt|  1.0|$110.00|               1|       0|               1|        1|         0|                 0|                1|                11.0|
|631090264341908777|https://www.airbn...|"LUXURY ROOM ""WH...| IN  MADRID PARKI...|459598058|                      Liubasha|                4|                        NULL|    Usera|         40.36937|          -3.70743|   Private room| NULL|   NULL|               1|       1|               0|        1|         1|                 0|                1|                 1.0|
+------------------+--------------------+--------------------+--------------------+---------+------------------------------+-----------------+----------------------------+---------+-----------------+------------------+---------------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+

In [63]:
# Drop the rows with 'missing' values to avoid further complications.
df_mad = df_mad.na.drop(subset=['neighbourhood_group_cleansed'])

# Filter the DataFrame to find the rows with the missing value in 'neighbourhood_group_cleansed'
missing_neighbourhood = df_mad.filter(col("neighbourhood_group_cleansed").isNull())

# Show the row(s) with the missing value
missing_neighbourhood.show()

+---+-----------+----+-------+---------+------------------------------+-----------------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
| id|listing_url|name|host_id|host_name|calculated_host_listings_count|host_is_superhost|neighbourhood_group_cleansed|latitude|longitude|room_type|bedrooms|price|kitchen|patio or balcony|elevator|air conditioning|long_term|short_term|possible_long_term|number_of_reviews|review_scores_rating|
+---+-----------+----+-------+---------+------------------------------+-----------------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
+---+-----------+----+-------+---------+------------------------------+-----------------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+

In [64]:
# Filter rows where the 'latitude' column is null
rows_with_missing_latitude = df_mad.filter(col("latitude").isNull())

# Show the rows with missing values in 'latitude'
rows_with_missing_latitude.show(truncate=False)

+--------+-------------------------------------+-----------+--------------+--------------------------+------------------------------+-----------------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
|id      |listing_url                          |name       |host_id       |host_name                 |calculated_host_listings_count|host_is_superhost|neighbourhood_group_cleansed|latitude|longitude|room_type|bedrooms|price|kitchen|patio or balcony|elevator|air conditioning|long_term|short_term|possible_long_term|number_of_reviews|review_scores_rating|
+--------+-------------------------------------+-----------+--------------+--------------------------+------------------------------+-----------------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
|16270115|https://www.airbnb.com/rooms/16270115|"""Loft 4-4| Loft 4-Love""| downtown gardened house."|33049567                      |José Luis        |t                           |NULL    |Centro   |40.40902 |-3.71051|NULL |4.0    |$204.00         |1       |1               |0        |0         |0                 |0                |1.0                 |
+--------+-------------------------------------+-----------+--------------+--------------------------+------------------------------+-----------------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+

In [65]:
# I have manually checked the row in our cleaned database (id 16270115) and the value for latitude is NOT missing. 
# Therefore, I will add the value again manually.

# Fill 'missing' values in the 'latitude' column with the value present in the dataset
df_mad = df_mad.fillna({"latitude": 40.40902})

# Filter rows where the 'latitude' column is null
rows_with_missing_latitude = df_mad.filter(col("latitude").isNull())

# Show the rows with missing values in 'latitude'
rows_with_missing_latitude.show(truncate=False)

+---+-----------+----+-------+---------+------------------------------+-----------------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
|id |listing_url|name|host_id|host_name|calculated_host_listings_count|host_is_superhost|neighbourhood_group_cleansed|latitude|longitude|room_type|bedrooms|price|kitchen|patio or balcony|elevator|air conditioning|long_term|short_term|possible_long_term|number_of_reviews|review_scores_rating|
+---+-----------+----+-------+---------+------------------------------+-----------------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
+---+-----------+----+-------+---------+------------------------------+-----------------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+

In [66]:
# Repeat the above for the missing 'kitchen' value, as the dataset shows no missing value in this column

# Filter rows where the 'kitchen' column is null
rows_with_missing_kitchen = df_mad.filter(col("kitchen").isNull())

# Show the rows with missing values in 'kitchen'
rows_with_missing_kitchen.show(truncate=False)

+---+-----------+----+-------+---------+------------------------------+-----------------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
|id |listing_url|name|host_id|host_name|calculated_host_listings_count|host_is_superhost|neighbourhood_group_cleansed|latitude|longitude|room_type|bedrooms|price|kitchen|patio or balcony|elevator|air conditioning|long_term|short_term|possible_long_term|number_of_reviews|review_scores_rating|
+---+-----------+----+-------+---------+------------------------------+-----------------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
+---+-----------+----+-------+---------+------------------------------+-----------------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+

In [67]:
# The dataset entry for id 631090264341908777 shows '1' in the kitchen column.
# Therefore I will add the value again manually

# Fill missing values in the 'kitchen' column with the value present in the dataset
df_mad = df_mad.fillna({"kitchen": 1})

# Filter rows where the 'kitchen' column is null
rows_with_missing_kitchen = df_mad.filter(col("kitchen").isNull())

# Show the rows with missing values in 'kitchen'
rows_with_missing_kitchen.show(truncate=False)

+---+-----------+----+-------+---------+------------------------------+-----------------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
|id |listing_url|name|host_id|host_name|calculated_host_listings_count|host_is_superhost|neighbourhood_group_cleansed|latitude|longitude|room_type|bedrooms|price|kitchen|patio or balcony|elevator|air conditioning|long_term|short_term|possible_long_term|number_of_reviews|review_scores_rating|
+---+-----------+----+-------+---------+------------------------------+-----------------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+
+---+-----------+----+-------+---------+------------------------------+-----------------+----------------------------+--------+---------+---------+--------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+

In [68]:
# To fill in "bedrooms" columns and also encode 'bedroom' and 'room type' with the following theory

# if the type is "shared bedroom" or null, we encode it as 0
# if the typr is "private room" or "hotel room", we encode it as 1
# and if the type if "entire home/apt", we encode it with 2
from pyspark.sql.functions import when, col

# Apply the Encoding Based on room_type
# Apply the encoding to the 'room_type' column
df_mad = df_mad.withColumn("room_type_encoded", 
                   when(col("room_type").isNull(), 0)
                   .when(col("room_type") == "Shared room", 0)
                   .when(col("room_type") == "Private room", 1)
                   .when(col("room_type") == "Hotel room", 1)
                   .when(col("room_type") == "Entire home/apt", 2)
                   .otherwise(0))  # This covers any unexpected or additional room types

# Now combine with the 'bedrooms' logic
df_mad = df_mad.withColumn("bedrooms_encoded", 
                   when(col("bedrooms") > 1, 1).otherwise(0))

# Show the result to verify the changes
df_mad.select("room_type", "room_type_encoded", "bedrooms", "bedrooms_encoded").show(10)

# Then remove 'room_type' and 'bedrooms'
df_mad = df_mad.drop("room_type")
df_mad = df_mad.drop("bedrooms")

+------------+-----------------+--------+----------------+
|   room_type|room_type_encoded|bedrooms|bedrooms_encoded|
+------------+-----------------+--------+----------------+
|Private room|                1|     1.0|               0|
|Private room|                1|     1.0|               0|
|Private room|                1|     2.0|               1|
|Private room|                1|     1.0|               0|
|Private room|                1|     1.0|               0|
|Private room|                1|     1.0|               0|
|Private room|                1|     1.0|               0|
|Private room|                1|     1.0|               0|
|Private room|                1|     1.0|               0|
| Shared room|                0|    NULL|               0|
+------------+-----------------+--------+----------------+
only showing top 10 rows

In [69]:
# Drop rows where 'neighbourhood_group_cleansed' is null in df_mad
df_mad = df_mad.dropna(subset=["neighbourhood_group_cleansed"])

In [70]:
# Fill in "price" column with the following theory

# 1. Mark the rows where the "availability_30" and "availability_60" are both '0' in the orig_mad dataframe
# 2. Found the correspondent rows by using its "id" in df_mad and drop the empty rows
# 3. Fill in the rest of the null values with the average price in the same neighbourhood

In [71]:
# Load the orig_mad dataframe
zero_availability_ids = df_numeric_ids.filter((col("availability_30") == 0) & (col("availability_60") == 0)).select("id")
zero_availability_ids.count()

43

In [72]:
# # Convert zero_availability_ids to a list
zero_availability_ids_list = [row.id for row in zero_availability_ids.distinct().collect()]

# # Filter df_mad to remove rows where id is in zero_availability_ids_list
df_mad_filtered = df_mad.filter(~col("id").isin(zero_availability_ids_list))

In [73]:
df_mad_filtered.count()

26874

In [74]:
from pyspark.sql import functions as F

# # Calculate the average price per neighbourhood
avg_price_neighbourhood = df_mad_filtered.groupBy("neighbourhood_group_cleansed").agg(F.round(F.mean("price")).alias("avg_price"))

# Join the original DataFrame with the average prices DataFrame
df_mad_with_avg = df_mad_filtered.join(avg_price_neighbourhood, on="neighbourhood_group_cleansed", how="left")

# # Fill missing price values with the calculated average price
df_mad_final = df_mad_with_avg.withColumn("price", F.coalesce(col("price"), col("avg_price")))

# # Drop the avg_price column as it's no longer needed
df_mad_final = df_mad_final.drop("avg_price")

# # Show the result to verify the changes
df_mad_final.select("id", "neighbourhood_group_cleansed", "price").show(10)

+-------------------+----------------------------+-----+
|                 id|neighbourhood_group_cleansed|price|
+-------------------+----------------------------+-----+
|1104967621421098322|                      Retiro| 68.0|
| 930941073152690361|          Puente de Vallecas| 16.0|
|           51647382|          Puente de Vallecas| 25.0|
|1026072412626070839|                 Carabanchel| 26.0|
| 766423030884644417|                   Salamanca|100.0|
|           52547327|                      Centro| 45.0|
| 912133850058274259|                      Centro| 25.0|
|           35987869|                  Arganzuela|141.0|
|           36412220|                 Carabanchel| 82.0|
|           19032176|                     Barajas|101.0|
+-------------------+----------------------------+-----+
only showing top 10 rows

In [75]:
df_mad_final.count()

26874

In [76]:
# Count missing values for each column
df_mad_final.select([_sum(col(c).isNull().cast("int")).alias(c) for c in df_mad_final.columns]).show()

+----------------------------+---+-----------+----+-------+---------+------------------------------+-----------------+--------+---------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+-----------------+----------------+
|neighbourhood_group_cleansed| id|listing_url|name|host_id|host_name|calculated_host_listings_count|host_is_superhost|latitude|longitude|price|kitchen|patio or balcony|elevator|air conditioning|long_term|short_term|possible_long_term|number_of_reviews|review_scores_rating|room_type_encoded|bedrooms_encoded|
+----------------------------+---+-----------+----+-------+---------+------------------------------+-----------------+--------+---------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+-----------------+----------------+
|                           0|  0|          0|   0|      0|        0|                             0|                0|       0|        0|    1|      0|               0|       0|               0|        0|         0|                 0|                0|                   0|                0|               0|
+----------------------------+---+-----------+----+-------+---------+------------------------------+-----------------+--------+---------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+-----------------+----------------+

In [77]:
from pyspark.sql.functions import col

# Create a condition to check for nulls in any column
condition = None
for c in df_mad_final.columns:
    if condition is None:
        condition = col(c).isNull()
    else:
        condition = condition | col(c).isNull()

# Filter rows where the condition is met (i.e., any column is null)
missing_data = df_mad_final.filter(condition)

# Show the rows with missing values
missing_data.show()

+----------------------------+--------+--------------------+-----------+--------------+--------------------+------------------------------+-----------------+--------+---------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+-----------------+----------------+
|neighbourhood_group_cleansed|      id|         listing_url|       name|       host_id|           host_name|calculated_host_listings_count|host_is_superhost|latitude|longitude|price|kitchen|patio or balcony|elevator|air conditioning|long_term|short_term|possible_long_term|number_of_reviews|review_scores_rating|room_type_encoded|bedrooms_encoded|
+----------------------------+--------+--------------------+-----------+--------------+--------------------+------------------------------+-----------------+--------+---------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+-----------------+----------------+
|                           t|16270115|https://www.airbn...|"""Loft 4-4| Loft 4-Love""| downtown gardene...|                      33049567|        José Luis|40.40902|   Centro| NULL|    4.0|         $204.00|       1|               1|        0|         0|                 0|                0|                 1.0|                0|               0|
+----------------------------+--------+--------------------+-----------+--------------+--------------------+------------------------------+-----------------+--------+---------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+-----------------+----------------+

In [78]:
# I have manually checked the row in our cleaned database (id 16270115) and the value for price is NOT missing. 
# Therefore, I will add the value again manually.

# Fill 'missing' values in the 'price' column with the value present in the dataset
df_mad_final = df_mad_final.fillna({"price": 204})

# Filter rows where the 'price' column is null
rows_with_missing_price = df_mad_final.filter(col("price").isNull())

# Show the rows with missing values in 'price'
rows_with_missing_price.show(truncate=False)

+----------------------------+---+-----------+----+-------+---------+------------------------------+-----------------+--------+---------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+-----------------+----------------+
|neighbourhood_group_cleansed|id |listing_url|name|host_id|host_name|calculated_host_listings_count|host_is_superhost|latitude|longitude|price|kitchen|patio or balcony|elevator|air conditioning|long_term|short_term|possible_long_term|number_of_reviews|review_scores_rating|room_type_encoded|bedrooms_encoded|
+----------------------------+---+-----------+----+-------+---------+------------------------------+-----------------+--------+---------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+-----------------+----------------+
+----------------------------+---+-----------+----+-------+---------+------------------------------+-----------------+--------+---------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+-----------------+----------------+

In [79]:
from pyspark.sql.functions import col

# Create a condition to check for nulls in any column
condition = None
for c in df_mad_final.columns:
    if condition is None:
        condition = col(c).isNull()
    else:
        condition = condition | col(c).isNull()

# Filter rows where the condition is met (i.e., any column is null)
missing_data = df_mad_final.filter(condition)

# Show the rows with missing values
missing_data.show()

+----------------------------+---+-----------+----+-------+---------+------------------------------+-----------------+--------+---------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+-----------------+----------------+
|neighbourhood_group_cleansed| id|listing_url|name|host_id|host_name|calculated_host_listings_count|host_is_superhost|latitude|longitude|price|kitchen|patio or balcony|elevator|air conditioning|long_term|short_term|possible_long_term|number_of_reviews|review_scores_rating|room_type_encoded|bedrooms_encoded|
+----------------------------+---+-----------+----+-------+---------+------------------------------+-----------------+--------+---------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+-----------------+----------------+
+----------------------------+---+-----------+----+-------+---------+------------------------------+-----------------+--------+---------+-----+-------+----------------+--------+----------------+---------+----------+------------------+-----------------+--------------------+-----------------+----------------+

In [80]:
# Coalesce the DataFrame to a single partition
df_mad_final_coalesced = df_mad_final.coalesce(1)

# Save the DataFrame as a single CSV file
df_mad_final_coalesced.write.mode("overwrite").csv("cleaned_listings_mad-coalesced.csv", header=True)

In [ ]:
# Save the cleaned final DataFrame to a new CSV file, overwriting if it exists
df_mad_final.write.mode("overwrite").csv("cleaned_listings_mad.csv", header=True)

In [ ]:
spark.stop()