In [15]:
import pandas as pd

df = pd.read_csv('Datasets/Final_cleaned_dataset/part-00000-d38f1508-e7ff-486d-972c-feeebe182c7b-c000.csv', on_bad_lines='skip', sep=";")

In [16]:
df.head()

,neighbourhood_group_cleansed,id,listing_url,name,host_id,host_name,calculated_host_listings_count,host_is_superhost,latitude,longitude,...,patio or balcony,elevator,air conditioning,long_term,short_term,possible_long_term,number_of_reviews,review_scores_rating,room_type_encoded,bedrooms_encoded
0,Retiro,1104967621421098322,https://www.airbnb.com/rooms/1104967621421098322,Habitación de lujo; baño privado,565307927,Carolina,1,f,40.406980,-3.675015,...,0,0,0,0,1,0,2,4.50,1,0
1,Puente de Vallecas,930941073152690361,https://www.airbnb.com/rooms/930941073152690361,habitación para pareja,442944608,Jonathan Jesus,2,f,40.392100,-3.670030,...,0,0,0,0,0,1,3,5.00,1,0
2,Puente de Vallecas,51647382,https://www.airbnb.com/rooms/51647382,Buenos Aires en Madrid,252336445,Norma,2,f,40.395110,-3.671430,...,0,0,0,0,0,1,186,4.67,1,1
3,Carabanchel,1026072412626070839,https://www.airbnb.com/rooms/1026072412626070839,Habitación Madrid Rio!,545435841,Gean Piero,1,f,40.395555,-3.716437,...,0,0,0,0,0,1,1,5.00,1,0
4,Salamanca,766423030884644417,https://www.airbnb.com/rooms/766423030884644417,habitación para turista,3882456,Gabriela CHÁVEZ,1,f,40.430450,-3.672100,...,0,0,1,0,1,0,0,0.00,1,0